extends layout

block content
  img(src="images/somelogo.png")
  p Wikipedia readability measure that can accurately determine if an article is well written.
  form(id="wiki_link", action="/", method="post")
   | Wikipedia Link: 
   input(type="text", name="link", id="link")
   input(type="submit", id="link_submit")