extends layout

block content
  br
  .container
    .hero-unit
      h1 Wikiometer
      p.lead Wikipedia readability measure that can accurately determine if an article is well written.
      br
      br
      form(id="wiki_link", action="/", method="post").form-inline
        .input-prepend.input-append
          span.add-on http://en.wikipedia.org/wiki/
          input(type="text", id="link", placeholder="Michael_jordan").input-xxlarge
          button(type="button").btn.btn-success Submit