extends layout

block content
  br
  .container
    .row
      .span12
        .hero-unit
          h1 Wikiometer
          p.lead Wikipedia readability measure that can accurately determine if an article is well written.
          br
          br
          form(id="wiki_link", action="/", method="post").form-inline
            - if (error)
              .input-prepend.input-append.control-group.error
                span.add-on http://en.wikipedia.org/wiki/
                input(type="text", name="link", id="link inputError", placeholder="Enter Valid Wikipedia Page").input-xxlarge
                button(type="submit").btn.btn-success Submit
            - else
              .input-prepend.input-append
                span.add-on http://en.wikipedia.org/wiki/
                input(type="text", name="link", id="link inputError", placeholder="Sedation").input-xxlarge
                button(type="submit").btn.btn-success Submit
      #score-card.span6.offset3.text-center
        .hero-unit
          - if (score)
            #score
              p.lead Rating
              h1 #{score[0]}
              p.lead Estimated Time To Read
              h1 #{score[1]}