extends layout

block content
  img(src="images/somelogo.png")
  p Welcome to #{title}
  form(id="wiki_link", action="/", method="post")
   input(type="text", name="input link", id="link")
   input(type="submit", id="link_submit")